* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Poppins,sans-serif;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px 25px 50px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    font-size: 1.2rem;
    width: 100%;
}

.logo-title {
    color: #2d2e32;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

nav ul a {
    font-weight: 500;

}

ul {
    list-style-type: none;
    display: flex;
}

li a {
    text-decoration: none;
    color: black;
    padding-right: 2.5rem;

}

.hero {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}

.container {
    margin: 10rem;
    max-width: 107rem;
    padding: 0 4rem;
}

.container-about {
    margin: 10rem;
    max-width: 107rem;
    padding: 0 4rem;
}

.container-projects {
    margin: 10rem;
    max-width: 107rem;
    padding: 0 4rem;
}

.container-contact {
    margin: 10rem;
    max-width: 107rem;
    padding: 0 4rem;
}

.container-footer {

    max-width: 107rem;
    padding: 0 4rem;
}


.hero-text{
    font-size: 2.5rem;
}

.hero-text img{
    height: 3rem;
    right: 13rem;
    top: 8.7rem;
    width: 3rem;
}

.hero-text p {
    margin-top: 16px;
    margin-bottom: 16px;
    color: #555;
    font-family: Mulish,sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
}

.hero-main {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 4.5rem;
}

.hero-img {
    background-image: url(/assets/profile-pic-1.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    width: 25rem;
    border-radius: 25%;

}

.fa-github {
    text-decoration: none;
    color: black;
}

.fa-linkedin-square{
    text-decoration: none;
    color: black;
}


.about {
    background-color: #fff;
    padding: 2rem 0;
}

.about-content{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 3.5rem;
}

.img-side_about {
    width: 25rem;
    height: 25rem;
    border-radius: 1.5rem;
}

.text-side h3 {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.text-side h4 {
    color: #2d2e32;
    font-family: Poppins,sans-serif;
    font-size: 1.60rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}

.text-side p {
    color: #767676;
    font-family: Mulish,sans-serif;
    font-size: 1.10rem;
    font-weight: 500;
    line-height: 1.5;
}


.projects {
    background-color: #f9f9f9;
    padding: 5rem 0;
}

.project-content p {
    color: #147efb;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.project-content h3 {
    font-weight: 600;
    font-size: 2rem;
    color: #2d2e32;
}

.contact {
    background-color: #fff;
    padding: 4rem 0;
}

.contact_content {
    display: flex;
    flex-direction: column;
}

.contact_title p {
    color: #147efb;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.contact_title h3 {
    color: #2d2e32;
    font-size: 2rem;
}

.contact_icons {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 5rem;
}

.contact_icon-box {
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

.contact_icon-box span{
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    color: #147efb;
    display: flex;
    height: 5rem;
    justify-content: center;
    width: 5rem;
    font-size: 25px;
}

.contact_info {
    font-size: 15px;
}

.contact_info h3 {
    margin-bottom: 10px;

}


.container-footer{
    color: #fff;
}

footer {
    background-color: #2d2e32;
    padding: 2rem 0;
    width: 100%;
}

.footerc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerc h3 {
    font-size: 15px;
}

.footerc_socials{
    margin-top: 1rem;
    font-size: 20px;
}

.footerc_socials a{
    color: #fff;
    margin-right: 1rem;
}

